<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blender</title>
    <style>
      html,
      body {
        margin: 0;
        height: 100%;
      }

      .btn {
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
      }
    </style>
  </head>
  <body>
    <script type="module">
      import * as THREE from "three";
      import gsap from "gsap";

      // 場景
      const scene = new THREE.Scene();
      scene.background = new THREE.Color(0x3f3f3f);
      scene.fog = new THREE.Fog(0x3f3f3f, 15, 20);

      // 攝影機
      const camera = new THREE.PerspectiveCamera(
        50,
        window.innerWidth / window.innerHeight,
        0.1,
        20
      );

      camera.position.y = 2;
      camera.position.z = 5;
      camera.lookAt(0, 0, 0);

      function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize(window.innerWidth, window.innerHeight);

        renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
      }

      window.addEventListener("resize", onWindowResize);

      // 渲染器
      const renderer = new THREE.WebGLRenderer({ antialias: true });
      renderer.setSize(window.innerWidth, window.innerHeight);
      renderer.setAnimationLoop(animate);
      document.body.appendChild(renderer.domElement);

      // Default Cube
      const mBasic = new THREE.MeshPhongMaterial({ color: 0xe7e7e7 });

      const gCube = new THREE.BoxGeometry(1, 1, 1);
      const cube = new THREE.Mesh(gCube, mBasic);
      scene.add(cube);

      // 平面網格 Grid
      const mGridLine = new THREE.LineBasicMaterial({
        color: 0x545454,
        transparent: true,
        opacity: 0.8,
      });

      const pointsGridX = [
        new THREE.Vector2(100, 0),
        new THREE.Vector2(-100, 0),
      ];
      const pointsGridY = [
        new THREE.Vector3(0, 0, 100),
        new THREE.Vector3(0, 0, -100),
      ];
      const gGridX = new THREE.BufferGeometry().setFromPoints(pointsGridX);
      const gGridY = new THREE.BufferGeometry().setFromPoints(pointsGridY);

      for (let i = -50; i < 50; i++) {
        const gridX = new THREE.Line(gGridX, mGridLine);
        gridX.position.z = i / 2;
        scene.add(gridX);

        const gridY = new THREE.Line(gGridY, mGridLine);
        gridY.position.x = i / 2;
        scene.add(gridY);
      }

      // Axis
      const mAxisX = new THREE.LineBasicMaterial({ color: 0xff3352 });
      const pointsAxisX = [
        new THREE.Vector2(100, 0.001),
        new THREE.Vector2(-100, 0.001),
      ];
      const gAxisX = new THREE.BufferGeometry().setFromPoints(pointsAxisX);
      const axisX = new THREE.Line(gAxisX, mAxisX);
      scene.add(axisX);

      const mAxisY = new THREE.LineBasicMaterial({ color: 0x8bdc00 });
      const pointsAxisY = [
        new THREE.Vector3(0, 0.001, 100),
        new THREE.Vector3(0, 0.001, -100),
      ];
      const gAxisY = new THREE.BufferGeometry().setFromPoints(pointsAxisY);
      const axisY = new THREE.Line(gAxisY, mAxisY);
      scene.add(axisY);

      // 燈光
      const lightAmbient = new THREE.AmbientLight(0x404040, 10);

      const lightDirect = new THREE.DirectionalLight(0x404040, 10);
      lightDirect.position.set(-0.5, 0.4, 0.3);
      lightDirect.target.position.set(0, 0, 0)

      scene.add(lightAmbient, lightDirect)

      // 動畫
      function animate() {
        scene.rotation.y += 0.005;
        renderer.render(scene, camera);
      }
    </script>
  </body>
</html>
