:root {
  --primary: #003049;
  --secondary: #d62828;
  --bg: #eae2b7;
  --bg-secondary: #fcbf49;
  --highlight: #f77f00;
  --text: #003049;
  --text-muted: rgba(0, 48, 73, 0.5);
  --border: rgba(0, 48, 73, 0.2);
  --shadow: rgba(0, 48, 73, 0.3);
}

/* min-width: 950px */
body {
  font-family: "Noto Sans TC";
  overflow: hidden;
  background: var(--bg);
  margin: 0;
  font-size: 16px;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 2s ease, opacity 0.5s ease-out;
  transform: translateY(0);
  opacity: 1;
}

h1 {
  font-size: 4em;
  color: var(--text);
  font-weight: bold;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 2.5em;
  color: var(--text-muted);
  font-weight: bold;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 1.5em;
  color: var(--text-muted);
}

a {
  text-decoration: none;
  color: var(--bg);
}

.grid-section {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  align-items: center;
}

.grid-about {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  justify-items: center;
}

.text-shadow {
  text-shadow: var(--shadow) 1px 0 10px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

.icon {
  filter: drop-shadow(2px 2px 2px var(--shadow));
  width: 25px;
}

.icon-word {
  line-height: 1.5em;
}

.skill-name {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--text);
  margin-left: 0.5em;
}

.my-btn {
  font-weight: bold;
  font-size: 1.5em;
  border: none;
  color: var(--bg);
  background-color: var(--secondary);
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px var(--shadow);
  transition: 0.3s ease;
  cursor: pointer;
}

.my-btn:hover {
  transform: scale(1.05);
  box-shadow: 3px 4px 20px rgba(0, 48, 73, 0.5);
}

.portfolio-btn {
  background-color: var(--highlight);
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px var(--shadow);
  transition: 0.3s ease;
}

.glow {
  transition: all 0.5s ease;
}

.glow:hover {
  transform: translateY(-10%);
  text-shadow: var(--bg) 1px 0 50px;
}

.slid-up {
  transform: translateY(-100%);
  opacity: 0;
}

.slid-down {
  transform: translateY(100%);
  opacity: 0;
}
